.datepicker--cells {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.datepicker--cell {
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 32px;
  z-index: 1;
}

.datepicker--cell.-focus- {
  background: #f0f0f0;
}

.datepicker--cell.-current- {
  color: #4EB5E6;
}

.datepicker--cell.-current-.-focus- {
  color: #4a4a4a;
}

.datepicker--cell.-current-.-in-range- {
  color: #4EB5E6;
}

.datepicker--cell.-in-range- {
  background: rgba(92, 196, 239, 0.1);
  color: #4a4a4a;
  border-radius: 0;
}

.datepicker--cell.-in-range-.-focus- {
  background-color: rgba(92, 196, 239, 0.2);
}

.datepicker--cell.-disabled- {
  cursor: default;
  color: #aeaeae;
}

.datepicker--cell.-disabled-.-focus- {
  color: #aeaeae;
}

.datepicker--cell.-disabled-.-in-range- {
  color: #a1a1a1;
}

.datepicker--cell.-disabled-.-current-.-focus- {
  color: #aeaeae;
}

.datepicker--cell.-range-from- {
  border: 1px solid rgba(92, 196, 239, 0.5);
  background-color: rgba(92, 196, 239, 0.1);
  border-radius: 4px 0 0 4px;
}

.datepicker--cell.-range-to- {
  border: 1px solid rgba(92, 196, 239, 0.5);
  background-color: rgba(92, 196, 239, 0.1);
  border-radius: 0 4px 4px 0;
}

.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current- {
  color: #fff;
  background: #5cc4ef;
}

.datepicker--cell.-range-from-.-range-to- {
  border-radius: 4px;
}

.datepicker--cell.-selected- {
  border: none;
}

.datepicker--cell.-selected-.-focus- {
  background: #45bced;
}

.datepicker--cell:empty {
  cursor: default;
}

.datepicker--days-names {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 8px 0 3px;
}

.datepicker--day-name {
  color: #FF9A19;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
}

.-only-timepicker- .datepicker--content, .datepicker--body, .datepicker-inline .datepicker--pointer {
  display: none;
}

.datepicker--cell-day {
  width: 14.28571%;
}

.datepicker--cells-months {
  height: 170px;
}

.datepicker--cell-month {
  width: 33.33%;
  height: 25%;
}

.datepicker--cells-years, .datepicker--years {
  height: 170px;
}

.datepicker--cell-year {
  width: 25%;
  height: 33.33%;
}

.datepickers-container {
  position: absolute;
  left: 0;
  top: 0;
}

@media print {
  .datepickers-container {
    display: none;
  }
}

.datepicker {
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-sizing: content-box;
  font-family: Tahoma,sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  width: 250px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity .3s ease,transform .3s ease,left 0s .3s;
  z-index: 100;
}

.datepicker.-from-top- {
  transform: translateY(-8px);
}

.datepicker.-from-right- {
  transform: translateX(8px);
}

.datepicker.-from-bottom- {
  transform: translateY(8px);
}

.datepicker.-from-left- {
  transform: translateX(-8px);
}

.datepicker.active {
  opacity: 1;
  transform: translate(0);
  transition: opacity .3s ease,transform .3s ease,left 0s 0s;
}

.datepicker-inline .datepicker {
  border-color: #d7d7d7;
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  transform: none;
}

.datepicker--content {
  box-sizing: content-box;
  padding: 4px;
}

.datepicker--pointer {
  position: absolute;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  width: 10px;
  height: 10px;
  z-index: -1;
}

.datepicker--nav-action:hover, .datepicker--nav-title:hover {
  background: #f0f0f0;
}

.-top-center- .datepicker--pointer, .-top-left- .datepicker--pointer, .-top-right- .datepicker--pointer {
  top: calc(100% - 4px);
  transform: rotate(135deg);
}

.-right-bottom- .datepicker--pointer, .-right-center- .datepicker--pointer, .-right-top- .datepicker--pointer {
  right: calc(100% - 4px);
  transform: rotate(225deg);
}

.-bottom-center- .datepicker--pointer, .-bottom-left- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
  bottom: calc(100% - 4px);
  transform: rotate(315deg);
}

.-left-bottom- .datepicker--pointer, .-left-center- .datepicker--pointer, .-left-top- .datepicker--pointer {
  left: calc(100% - 4px);
  transform: rotate(45deg);
}

.-bottom-left- .datepicker--pointer, .-top-left- .datepicker--pointer {
  left: 10px;
}

.-bottom-right- .datepicker--pointer, .-top-right- .datepicker--pointer {
  right: 10px;
}

.-bottom-center- .datepicker--pointer, .-top-center- .datepicker--pointer {
  left: calc(50% - 10px / 2);
}

.-left-top- .datepicker--pointer, .-right-top- .datepicker--pointer {
  top: 10px;
}

.-left-bottom- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
  bottom: 10px;
}

.-left-center- .datepicker--pointer, .-right-center- .datepicker--pointer {
  top: calc(50% - 10px / 2);
}

.datepicker--body.active {
  display: block;
}

.datepicker--nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
  min-height: 32px;
  padding: 4px;
}

.-only-timepicker- .datepicker--nav {
  display: none;
}

.datepicker--nav-action, .datepicker--nav-title {
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.datepicker--nav-action {
  width: 32px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.datepicker--nav-action.-disabled- {
  visibility: hidden;
}

.datepicker--nav-action svg {
  width: 32px;
  height: 32px;
}

.datepicker--nav-action path {
  fill: none;
  stroke: #9c9c9c;
  stroke-width: 2px;
}

.datepicker--nav-title {
  border-radius: 4px;
  padding: 0 8px;
}

.datepicker--buttons, .datepicker--time {
  border-top: 1px solid #efefef;
  padding: 4px;
}

.datepicker--nav-title i {
  font-style: normal;
  color: #9c9c9c;
  margin-left: 5px;
}

.datepicker--nav-title.-disabled- {
  cursor: default;
  background: 0 0;
}

.datepicker--buttons {
  display: -ms-flexbox;
  display: flex;
}

.datepicker--button {
  color: #4EB5E6;
  cursor: pointer;
  border-radius: 4px;
  -ms-flex: 1;
  flex: 1;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 32px;
}

.datepicker--button:hover {
  color: #4a4a4a;
  background: #f0f0f0;
}

.datepicker--time {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.datepicker--time.-am-pm- .datepicker--time-sliders {
  -ms-flex: 0 1 138px;
  flex: 0 1 138px;
  max-width: 138px;
}

.-only-timepicker- .datepicker--time {
  border-top: none;
}

.datepicker--time-sliders {
  -ms-flex: 0 1 153px;
  flex: 0 1 153px;
  margin-right: 10px;
  max-width: 153px;
}

.datepicker--time-label {
  display: none;
  font-size: 12px;
}

.datepicker--time-current {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex: 1;
  flex: 1;
  font-size: 14px;
  text-align: center;
  margin: 0 0 0 10px;
}

.datepicker--time-current-colon {
  margin: 0 2px 3px;
  line-height: 1;
}

.datepicker--time-current-hours, .datepicker--time-current-minutes {
  line-height: 1;
  font-size: 19px;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  position: relative;
  z-index: 1;
}

.datepicker--time-current-hours:after, .datepicker--time-current-minutes:after {
  content: '';
  background: #f0f0f0;
  border-radius: 4px;
  position: absolute;
  left: -2px;
  top: -3px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  opacity: 0;
}

.datepicker--time-current-hours.-focus-:after, .datepicker--time-current-minutes.-focus-:after {
  opacity: 1;
}

.datepicker--time-current-ampm {
  text-transform: uppercase;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #9c9c9c;
  margin-left: 6px;
  font-size: 11px;
  margin-bottom: 1px;
}

.datepicker--time-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 11px;
  height: 17px;
  background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 1px no-repeat;
}

.datepicker--time-row:first-child {
  margin-bottom: 4px;
}

.datepicker--time-row input[type=range] {
  background: 0 0;
  cursor: pointer;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
}

.datepicker--time-row input[type=range]::-ms-tooltip {
  display: none;
}

.datepicker--time-row input[type=range]:hover::-webkit-slider-thumb {
  border-color: #b8b8b8;
}

.datepicker--time-row input[type=range]:hover::-moz-range-thumb {
  border-color: #b8b8b8;
}

.datepicker--time-row input[type=range]:hover::-ms-thumb {
  border-color: #b8b8b8;
}

.datepicker--time-row input[type=range]:focus {
  outline: 0;
}

.datepicker--time-row input[type=range]:focus::-webkit-slider-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef;
}

.datepicker--time-row input[type=range]:focus::-moz-range-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef;
}

.datepicker--time-row input[type=range]:focus::-ms-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef;
}

.datepicker--time-row input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  transition: background .2s;
  margin-top: -6px;
}

.datepicker--time-row input[type=range]::-moz-range-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  transition: background .2s;
}

.datepicker--time-row input[type=range]::-ms-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  transition: background .2s;
}

.datepicker--time-row input[type=range]::-webkit-slider-runnable-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: 0 0;
}

.datepicker--time-row input[type=range]::-moz-range-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: 0 0;
}

.datepicker--time-row input[type=range]::-ms-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: 0 0;
}

.datepicker--time-row input[type=range]::-ms-fill-lower {
  background: 0 0;
}

.datepicker--time-row input[type=range]::-ms-fill-upper {
  background: 0 0;
}

.datepicker--time-row span {
  padding: 0 12px;
}

.datepicker--time-icon {
  color: #9c9c9c;
  border: 1px solid;
  border-radius: 50%;
  font-size: 16px;
  position: relative;
  margin: 0 5px -1px 0;
  width: 1em;
  height: 1em;
}

.datepicker--time-icon:after, .datepicker--time-icon:before {
  content: '';
  background: currentColor;
  position: absolute;
}

.datepicker--time-icon:after {
  height: .4em;
  width: 1px;
  left: calc(50% - 1px);
  top: calc(50% + 1px);
  transform: translateY(-100%);
}

.datepicker--time-icon:before {
  width: .4em;
  height: 1px;
  top: calc(50% + 1px);
  left: calc(50% - 1px);
}

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede;
}

.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5;
}

.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede;
}

.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6;
}

.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4;
}

.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #ccc;
}

.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2);
}

.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
  background: 0 0;
  border: none;
}

/* -- Widget -- */
.widget-head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-bottom: 1px solid #d5d5d5;
  padding: 0 0 10px;
  margin: 0 0 15px;
}

.widget-title {
  font-size: 19px;
  font-weight: 700;
}

.widget-title + .widget-calendar {
  display: none;
}

.widget-bk {
  position: relative;
  display: none;
  background: #fff;
  box-shadow: 0 2px 20px -10px rgba(8, 11, 42, 0.5);
  border-radius: 8px;
  margin: 0 0 20px;
}

.widget-bk-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-positive: 2;
      flex-grow: 2;
  width: 50%;
}

.widget-bk-list.is-active .widget-bk-link {
  opacity: 0;
}

.widget-bk-link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: calc(100% / 6);
  height: 40px;
  filter: grayscale(1);
}

.widget-bk-link:first-child {
  border-radius: 8px 0 0 8px;
}

.widget-bk-link:hover {
  filter: grayscale(0);
}

.widget-bk-link.is-select {
  background: #ededed;
  filter: grayscale(0);
}

.widget-bk-link img {
  max-width: 80%;
  max-height: 50%;
}

.widget-bk-search {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 40px;
  height: 40px;
  z-index: 3;
}

.widget-bk-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  height: 100%;
  background: #601dc0;
  border-radius: 0 8px 8px 0;
}

.widget-bk-btn:hover {
  background: #451788;
}

.widget-bk-btn svg {
  width: 12px;
  height: 12px;
  fill: #fff;
}

.widget-bk-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  width: 0px;
  font: 16px/1 Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  background: #fff;
  border: none;
  border-radius: 8px 0 0 8px;
  visibility: hidden;
  padding: 0 15px;
  z-index: 2;
}

.widget-bk-input:-ms-input-placeholder {
  color: #7c7c7c;
}

.widget-bk-input::placeholder {
  color: #7c7c7c;
}

.widget-bk-input:focus:-ms-input-placeholder {
  color: transparent;
}

.widget-bk-input:focus::placeholder {
  color: transparent;
}

.widget-bk-input.is-active {
  left: 0;
  width: calc(100% - 40px);
  visibility: visible;
}

.widget-bk-result {
  position: absolute;
  display: none;
  top: 0;
  right: 40px;
  left: 0;
  background: #fff;
  box-shadow: 0 2px 20px -10px rgba(8, 11, 42, 0.5);
  border-radius: 8px 0 8px 8px;
  padding: 50px 0 10px;
  z-index: 1;
}

.widget-bk-result a {
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-size: 14px;
  padding: 10px 15px;
}

.widget-bk-result a:hover {
  background: #f9f9f9;
}

.widget-info {
  position: relative;
  margin: 0 0 15px;
}

.widget-info-title {
  margin: 0 0 20px;
}

.widget-info-label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 15px;
  font-weight: 700;
  margin: 0 0 10px;
}

.widget-info-img {
  height: 40px;
}

.widget-info-img img {
  height: 100%;
}

.widget-resource {
  min-width: 290px;
}

.widget-resource-more {
  display: block;
  color: #666;
  font-weight: 700;
  text-decoration: underline;
}

.widget-resource-more:hover {
  color: #601dc0;
  text-decoration: underline;
  -webkit-text-decoration-color: #601dc0;
          text-decoration-color: #601dc0;
}

.widget-resource-list {
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0 15px;
  margin: 0 -15px;
}

.widget-resource-list::-webkit-scrollbar {
  display: none;
}

.widget-resource-list:after {
  content: '';
  position: relative;
  display: block;
  width: 15px;
  height: 34px;
  padding: 0 15px 0 0;
}

.widget-resource-item {
  transition: all .3s ease-in-out;
}

.widget-resource-item:first-child.is-checked ~ .widget-resource-item {
  filter: grayscale(0);
}

.widget-resource-item:first-child input:checked + .widget-resource-checkbox {
  color: #601dc0;
  border: 2px solid #601dc0;
}

.widget-resource-item:first-child .widget-resource-checkbox {
  border: 2px solid #e9e9e9;
  border-radius: 8px 0 0 8px;
}

.widget-resource-item:last-child .widget-resource-checkbox {
  border-radius: 0 8px 8px 0;
}

.widget-resource-item:last-child .widget-resource-checkbox img {
  border-radius: 0 8px 8px 0;
}

.widget-resource-item:nth-child(n+2) {
  filter: grayscale(1);
}

.widget-resource-item:nth-child(n+2).is-checked {
  filter: grayscale(0);
}

.widget-resource-item:nth-child(n+2) ~ .widget-resource-item {
  filter: grayscale(1);
}

.widget-resource-item:nth-child(n+2) ~ .widget-resource-item.is-checked {
  filter: grayscale(0);
}

.widget-resource-item input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.widget-resource-item input:checked + .widget-resource-checkbox {
  filter: grayscale(0);
}

.widget-resource-checkbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 70px;
  height: 34px;
  color: #e9e9e9;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.widget-resource-checkbox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.widget-calendar {
  position: relative;
  margin: 15px 0 0;
}

.widget-calendar-icon {
  position: absolute;
  top: calc(50% - (22px / 2));
  right: 10px;
  width: 19px;
  height: 20px;
  z-index: -1;
}

.widget-calendar-icon img {
  width: 100%;
  height: 100%;
}

.widget-calendar input {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 34px;
  font: 700 14px/1 Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #777;
  background: none;
  border: 2px solid #e9e9e9;
  box-shadow: none;
  border-radius: 8px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 10px;
}

.widget-calendar input:active {
  border: 2px solid #601dc0;
}

.widget-modal {
  position: absolute;
  display: none;
  top: 90px;
  right: 0;
  left: 0;
  z-index: 9999;
}

.widget-modal:after {
  content: '';
  position: fixed;
  top: -50%;
  right: 0;
  bottom: -50%;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.widget-modal.is-open .widget-modal-wrap {
  transform: scale(1);
}

.widget-modal-wrap {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transition: transform .3s ease-in-out;
  padding: 20px 15px 5px;
}

.widget-modal-title {
  color: #181818;
  font-weight: 700;
  line-height: 24px;
}

.widget-modal-search {
  position: relative;
  height: 40px;
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  transition: all .3s ease-in-out;
  margin: 10px 0 15px;
}

.widget-modal-search:after {
  content: '';
  position: absolute;
  top: calc(50% - (15px / 2));
  left: 12.5px;
  width: 15px;
  height: 15px;
  background: url("../../img/icons/search.svg");
  z-index: 3;
}

.widget-modal-search.is-active {
  box-shadow: none;
}

.widget-modal-input {
  position: relative;
  width: 100%;
  height: 100%;
  font: 15px/1 Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  background: #fff;
  border: none;
  border-radius: 8px;
  padding: 0 40px;
  z-index: 2;
}

.widget-modal-input:-ms-input-placeholder {
  color: #7c7c7c;
}

.widget-modal-input::placeholder {
  color: #7c7c7c;
}

.widget-modal-input:focus:-ms-input-placeholder {
  color: transparent;
}

.widget-modal-input:focus::placeholder {
  color: transparent;
}

.widget-modal-result {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 50px 0 10px;
  z-index: 1;
}

.widget-modal-result label input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.widget-modal-result label input:checked + span {
  color: #601dc0;
  background: #f0f0f0;
}

.widget-modal-result label span {
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  padding: 10px 40px;
}

.widget-modal-result label span:hover {
  background: #f0f0f0;
}

.widget-modal-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.widget-modal-item, .widget-modal-gap {
  -ms-flex-order: 2;
      order: 2;
  width: calc(50% - 5px);
}

.widget-modal-item {
  -ms-flex-order: 1;
      order: 1;
  height: 60px;
  margin: 0 0 10px;
}

.widget-modal-item input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.widget-modal-item input:checked + .widget-modal-checkbox {
  color: #fff;
  background: #e9e9e9;
  filter: grayscale(1);
}

.widget-modal-checkbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  border: 2px solid #e9e9e9;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.widget-modal-img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 90px;
  height: 20px;
}

.widget-modal-img img {
  height: 100%;
}

.widget-modal-text {
  display: block;
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin: 10px 0 -5px;
}

.widget-modal-close {
  position: absolute;
  top: -25px;
  right: 0;
  width: 15px;
  height: 15px;
}

.widget-modal-close:hover svg {
  fill: #caa5ff;
}

.widget-modal-close svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}

.datepicker {
  border-radius: 8px;
}

.datepicker--nav-action {
  border-radius: 8px;
}

.datepicker--nav-title {
  border-radius: 8px;
}

.datepicker--day-name {
  color: #601dc0;
}

.datepicker--cell {
  border-radius: 8px;
}

.datepicker--cell.-current- {
  color: #39af61;
}

.datepicker--cell.-selected- {
  background: #601dc0;
}

.datepicker--cell.-selected-.-current- {
  background: #601dc0;
}

.datepicker--cell.-selected-.-focus- {
  background: #451788;
}

.datepicker--cell.-selected-.-focus-.datepicker--cell-day.-other-month-, .datepicker--cell.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #451788;
}

.datepicker--cell.-in-range- {
  background: rgba(96, 29, 192, 0.1);
}

.datepicker--cell.-in-range-.datepicker--cell-day.-other-month-, .datepicker--cell.-in-range-.datepicker--cell-year.-other-decade- {
  background: rgba(96, 29, 192, 0.1);
}

.datepicker--cell.-in-range-.-focus- {
  background: rgba(96, 29, 192, 0.2);
}

.datepicker--cell.-range-from-, .datepicker--cell.-range-to- {
  background: rgba(96, 29, 192, 0.1);
  border: 1px solid rgba(96, 29, 192, 0.5);
}

.datepicker--cell.-range-from-.-selected-, .datepicker--cell.-range-to-.-selected- {
  background: #601dc0;
  border: none;
}

.datepicker--cell.-range-from-.-selected-.-focus-, .datepicker--cell.-range-to-.-selected-.-focus- {
  background: #451788;
}

.datepicker--button {
  color: #601dc0;
  border-radius: 8px;
}

.highcharts-point {
  cursor: pointer;
  transition: fill .3s ease-in-out, stroke .3s ease-in-out;
}

.highcharts-point.zone-yes {
  fill: #bfffd5;
  stroke: #20a94a;
}

.highcharts-point.zone-no {
  fill: #ffc2c9;
  stroke: #d0021b;
}

.highcharts-tooltip {
  z-index: 1;
}

.highcharts-tooltip-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-weight: 700;
  border-radius: 8px;
  padding: 3px 12px;
}

.highcharts-tooltip-date {
  width: 45px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  line-height: 1.3;
  white-space: normal;
}

.highcharts-tooltip-val {
  position: relative;
  line-height: 1;
  padding: 0 15px 0 10px;
}

.highcharts-tooltip-val:before {
  content: '';
  position: absolute;
  top: calc(50% - (20px / 2));
  left: 0;
  width: 1px;
  height: 20px;
  background: #fff;
}

.highcharts-tooltip-yes {
  margin: 0 0 3px;
}

.highcharts-tooltip-other, .highcharts-tooltip-spam {
  margin: 0 -15px 0 0;
}

.highcharts-tooltip-total {
  color: rgba(255, 255, 255, 0.5);
  font-size: 26px;
}

.highcharts-crosshair {
  transition: stroke .3s ease-in-out;
}

.highcharts-range-selector-group, .highcharts-legend {
  display: none;
}

.highcharts-axis-labels text {
  font-weight: normal !important;
  transform: translate(0, -5px);
}

.highcharts-data-label {
  cursor: pointer;
}

.highcharts-data-label span:after {
  content: '';
  position: absolute;
  top: -10px;
  right: 0;
  bottom: -25px;
  left: 0;
}

.highcharts-data-round {
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
}

.highcharts-drillup-button {
  cursor: pointer;
}

.highcharts-credits {
  display: none;
}

@media only screen and (min-width: 1100px) {
  .widget-row {
    display: -ms-flexbox;
    display: flex;
  }
  .widget-sidebar {
    width: 200px;
    margin: 0 40px 0 0;
  }
  .widget-main {
    -ms-flex-positive: 2;
        flex-grow: 2;
    width: 50%;
  }
  .widget-head {
    margin: 0 0 10px;
  }
  .widget-title {
    font-size: 24px;
  }
  .widget-title + .widget-calendar {
    display: -ms-flexbox;
    display: flex;
  }
  .widget-bk {
    display: -ms-flexbox;
    display: flex;
  }
  .widget-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin: 0 0 10px;
  }
  .widget-info-title {
    margin: 0;
  }
  .widget-info-img {
    width: 140px;
    height: auto;
  }
  .widget-info-img img {
    max-width: 100%;
    height: auto;
  }
  .widget-resource-list:after {
    display: none;
  }
  .widget-resource + .widget-calendar {
    display: none;
  }
  .widget-calendar {
    width: 160px;
    margin: 0;
  }
  .widget-calendar input {
    text-align: left;
  }
  .widget-calendar input:hover {
    border: 2px solid #601dc0;
  }
  .widget-modal {
    top: 0;
  }
  .widget-modal-wrap {
    padding: 20px 15px;
  }
  .widget-modal-title {
    font-size: 22px;
    line-height: 42px;
  }
  .widget-modal-item, .widget-modal-gap {
    width: calc((100% / 4) - 7.5px);
  }
  .widget-modal-item {
    height: 110px;
  }
  .widget-modal-checkbox {
    font-size: 16px;
  }
  .widget-modal-checkbox:hover {
    color: #601dc0;
    box-shadow: 0 2px 40px -10px rgba(0, 0, 0, 0.5);
  }
  .widget-modal-img {
    width: 110px;
    height: 30px;
  }
  .widget-modal-text {
    font-size: 15px;
    margin: 25px 0 -5px;
  }
  .widget-modal-close {
    top: -30px;
    right: -30px;
  }
  .highcharts-series-inactive .highcharts-point.zone-yes {
    fill: #e9e9e9;
    stroke: #999999;
  }
  .highcharts-series-inactive .highcharts-point.zone-no {
    fill: #e9e9e9;
    stroke: #999999;
  }
  .highcharts-point.zone-yes.is-disable {
    fill: #e9e9e9;
    stroke: #999999;
  }
  .highcharts-point.zone-no.is-disable {
    fill: #e9e9e9;
    stroke: #999999;
  }
  .highcharts-axis-labels text {
    font-size: 15px !important;
    transform: translate(0, 0);
  }
  .highcharts-data-label span {
    font-size: 14px !important;
  }
  .highcharts-data-round {
    width: 6px;
    height: 6px;
  }
}

@media only screen and (max-width: 359px) {
  .highcharts-data-round {
    width: 3px;
    height: 3px;
  }
}

/* -- End Widget -- */
/* -- Pulse -- */
.widget-pulse-group {
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px;
}

.widget-pulse-time {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: calc(100% / 3);
  height: 34px;
  line-height: 1;
  font-weight: 700;
  color: #a5a5a5;
  border-top: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
  border-right: 1px solid #ededed;
  border-left: 1px solid #ededed;
}

.widget-pulse-time:first-child {
  border-left: 2px solid #ededed;
  border-radius: 8px 0 0 8px;
}

.widget-pulse-time:last-child {
  border-right: 2px solid #ededed;
  border-radius: 0 8px 8px 0;
}

.widget-pulse-time.is-select {
  color: #000;
  background: #ededed;
}

.widget-pulse-time.is-disable {
  color: #ededed;
  pointer-events: none;
}

.widget-pulse-time span {
  display: none;
}

.widget-pulse-live {
  display: none;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0 0 25px;
}

.widget-pulse-live-arrow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 24px;
  height: 24px;
}

.widget-pulse-live-arrow:first-child {
  transform: rotate(180deg);
}

.widget-pulse-live-arrow.is-disable {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.widget-pulse-live-arrow.is-disable svg {
  fill: #e9e9e9;
}

.widget-pulse-live-arrow svg {
  width: 11px;
  height: 11px;
}

.widget-pulse-live-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.widget-pulse-live-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 9px;
  height: 9px;
  margin: 0 5px 0 0;
}

.widget-pulse-live-icon img {
  width: 8px;
  height: 8px;
}

.widget-pulse-live-text {
  font-size: 20px;
  font-weight: 700;
}

.widget-pulse-graph {
  min-height: 400px;
  margin: 0;
}

.widget-pulse-label {
  display: none;
  font-weight: 700;
  margin: 0 0 10px;
}

.widget-pulse-filter {
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0 15px;
  margin: 0 -15px;
}

.widget-pulse-filter::-webkit-scrollbar {
  display: none;
}

.widget-pulse-filter:after {
  content: '';
  position: relative;
  display: block;
  width: 15px;
  height: 34px;
  padding: 0 15px 0 0;
}

.widget-pulse-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 34px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  padding: 0 10px;
}

.widget-pulse-item:not(:last-child) {
  margin: 0 10px 0 0;
}

.widget-pulse-yes {
  color: #39af61;
  border: 2px solid #39af61;
}

.widget-pulse-yes.is-disable {
  color: #a5a5a5;
  border: 2px solid #ededed;
  pointer-events: none;
}

.widget-pulse-no {
  color: #d0021b;
  border: 2px solid #d0021b;
}

.widget-pulse-no.is-disable {
  color: #a5a5a5;
  border: 2px solid #ededed;
  pointer-events: none;
}

.widget-pulse-other {
  color: #a5a5a5;
  border: 2px solid #a5a5a5;
}

.widget-pulse-other.is-disable {
  color: #a5a5a5;
  border: 2px solid #ededed;
  pointer-events: none;
}

.widget-pulse-spam {
  color: #f5a623;
  border: 2px solid #f5a623;
}

.widget-pulse-spam.is-disable {
  color: #a5a5a5;
  border: 2px solid #ededed;
  pointer-events: none;
}

.widget-pulse .highcharts-reset-zoom {
  display: none;
}

.widget-detail-link {
  text-align: center;
  margin: 15px 0;
}

.widget-detail-bk {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 34px;
  font-weight: 700;
  color: #fff;
  background: #601dc0;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin: 0 0 15px;
}

.widget-detail-bk:active {
  background: #451788;
}

.widget-detail-comment {
  display: inline-block;
  color: #000;
  text-decoration: underline;
  margin: 0 auto;
}

.widget-detail-comment:hover {
  text-decoration: underline;
}

.widget-detail-comment:active {
  color: #601dc0;
  -webkit-text-decoration-color: #601dc0;
          text-decoration-color: #601dc0;
}

.widget-note-item {
  position: relative;
  display: none;
  background: #fff;
  box-shadow: 0 2px 20px -10px rgba(8, 11, 42, 0.5);
  border-radius: 8px;
  overflow: hidden;
  padding: 12px 12px 15px;
}

.widget-note-item:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
}

.widget-note-yes:after {
  background: #20a94a;
}

.widget-note-yes .widget-note-title-icon svg {
  fill: #20a94a;
}

.widget-note-no:after {
  background: #d0021b;
}

.widget-note-no .widget-note-title-icon svg {
  fill: #d0021b;
}

.widget-note-time {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 700;
}

.widget-note-date {
  margin: 0 0 0 20px;
}

.widget-note-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0 15px;
}

.widget-note-title-icon {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}

.widget-note-title-icon svg {
  width: 100%;
  height: 100%;
}

.widget-note-title-text {
  -ms-flex-positive: 2;
      flex-grow: 2;
  width: 50%;
}

.widget-note-info {
  line-height: 1.4;
}

@media only screen and (min-width: 1100px) {
  .widget-pulse {
    border-radius: 8px;
    box-shadow: 0 2px 20px -10px rgba(8, 11, 42, 0.5);
    padding: 15px;
  }
  .widget-pulse-time:hover {
    color: #000;
  }
  .widget-pulse-time span {
    display: block;
  }
  .widget-pulse-filter {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .widget-pulse-filter:after {
    display: none;
  }
  .widget-pulse-graph {
    margin: 0;
  }
  .widget-pulse-label {
    display: block;
  }
  .widget-pulse-item {
    width: calc((100% / 4) - 7.5px);
  }
  .widget-pulse-item:not(:last-child) {
    margin: 0;
  }
  .widget-pulse-yes:hover {
    color: #fff;
    background: #20a94a;
  }
  .widget-pulse-no:hover {
    color: #fff;
    background: #d0021b;
  }
  .widget-pulse-other:hover {
    color: #fff;
    background: #a5a5a5;
  }
  .widget-pulse-spam:hover {
    color: #fff;
    background: #f5a623;
  }
  .widget-detail-link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }
  .widget-detail-bk {
    width: 335px;
    margin: 0;
  }
  .widget-detail-bk:hover {
    background: #451788;
  }
  .widget-detail-comment:hover {
    color: #601dc0;
    -webkit-text-decoration-color: #601dc0;
            text-decoration-color: #601dc0;
  }
  .widget-note-item {
    padding: 10px 15px 15px;
  }
  .widget-note-item:after {
    width: 3px;
  }
  .widget-note-time {
    padding: 0 0 0 30px;
  }
  .widget-note-date {
    -ms-flex-order: -1;
        order: -1;
    margin: 0 20px 0 0;
  }
  .widget-note-title {
    font-size: 20px;
  }
}

/* -- End Pulse -- */
