/* -- Reward -- */
.reward-back {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  margin: -5px 0 20px;
}

.reward-back:hover {
  color: #601dc0;
}

.reward-back:hover svg {
  fill: #601dc0;
}

.reward-back svg {
  width: 10px;
  height: 10px;
  transform: rotate(180deg);
  margin: 0 10px 0 0;
}

.reward-filter {
  position: relative;
  background: #fff;
  box-shadow: 0 2px 20px -10px rgba(8, 11, 42, 0.5);
  border-radius: 8px;
  padding: 10px;
  margin: 0 0 12px;
  z-index: 9;
}

.reward-filter-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-weight: 700;
  margin: 0 0 12px;
}

.reward-filter-title svg {
  width: 14px;
  height: 14px;
  margin: 0 10px 0 0;
}

.reward-filter .select:not(:last-child) {
  margin: 0 0 10px;
}

.reward-filter .select.is-active .select-field {
  border-radius: 6px 6px 0 0;
}

.reward-filter .select.is-active .select-field-icon svg {
  transform: rotate(-90deg);
}

.reward-filter .select-field {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 34px;
  font-size: 14px;
  background: #f9f9f9;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  padding: 0 10px;
}

.reward-filter .select-field-input {
  -ms-flex-positive: 2;
      flex-grow: 2;
  width: 50%;
  height: 32px;
  font: 14px/1 Helvetica Neue, Helvetica, Arial, sans-serif;
  background: none;
  border: none;
  padding: 0 10px;
  margin: 0 -28px 0 -10px;
}

.reward-filter .select-field-input:-ms-input-placeholder {
  color: #666666;
}

.reward-filter .select-field-input::placeholder {
  color: #666666;
}

.reward-filter .select-field-input:focus:-ms-input-placeholder {
  color: transparent;
}

.reward-filter .select-field-input:focus::placeholder {
  color: transparent;
}

.reward-filter .select-field-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 18px;
  height: 18px;
}

.reward-filter .select-field-icon svg {
  width: 10px;
  height: 10px;
  transform: rotate(90deg);
}

.reward-filter .select-menu {
  display: none;
  background: #f9f9f9;
  border: 1px solid #f0f0f0;
  border-top: none;
  border-radius: 0 0 6px 6px;
  padding: 5px 0;
}

.reward-filter .select-menu li {
  margin: 2.5px 0;
}

.reward-filter .select-menu a {
  display: block;
  color: inherit;
  font-size: 14px;
  line-height: 1.2;
  padding: 6px 10px;
}

.reward-filter .select-menu a:hover {
  background: #f0f0f0;
}

.reward-tabList {
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0 15px;
  margin: 0 -15px;
}

.reward-tabList::-webkit-scrollbar {
  display: none;
}

.reward-tabList:after {
  content: '';
  position: relative;
  display: block;
  width: 15px;
  height: auto;
  padding: 0 15px 0 0;
}

.reward-tabItem {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #666;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 0;
}

.reward-tabItem:after {
  content: '';
  position: absolute;
  right: 100%;
  bottom: 0;
  left: 0;
  height: 1px;
  background: #601dc0;
  transition: all .3s ease-in-out;
  z-index: 1;
}

.reward-tabItem:hover, .reward-tabItem.is-select {
  color: #000;
}

.reward-tabItem:hover:after, .reward-tabItem.is-select:after {
  right: 0;
}

.reward-tabItem:not(:last-child) {
  margin: 0 25px 0 0;
}

.reward-tabWrap {
  margin: 10px 0 0;
}

.reward-best {
  position: relative;
  background: #f0f0f0;
  padding: 12px 15px;
  margin: 0 -15px;
}

.reward-best-title {
  color: #181818;
  font-weight: 700;
}

.reward-best .swiper-container {
  padding: 20px 15px;
  margin: -10px -15px 0;
}

.reward-best .swiper-container > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}

.reward-best .swiper-container.is-disable {
  margin: -10px -15px;
}

.reward-best .swiper-slide {
  width: calc((100% / 2) - 7.5px);
  height: auto;
  transition: all .3s ease-in-out;
  margin: 0 15px 0 0;
}

.reward-best .swiper-slide-prev {
  margin: 0 50px 0 -40px !important;
}

.reward-best .swiper-slide-next + .swiper-slide {
  margin: 0 0 0 50px !important;
}

.reward-best .swiper-pagination-bullets {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  bottom: 0;
  height: 8px;
}

.reward-best .swiper-pagination-bullet {
  background: #d8d8d8;
  outline: none;
  opacity: 1;
  transition: all .3s ease-in-out;
}

.reward-best .swiper-pagination-bullet-active {
  background: #fff;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.5);
}

.reward-best .swiper-pagination.is-disable {
  display: none;
}

.reward-best .swiper-button-next, .reward-best .swiper-button-prev {
  display: none;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  top: calc(50% - (26px / 2));
  width: 26px;
  height: 26px;
  background: none;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
  transition: all .3s ease-in-out;
  margin: 0;
}

.reward-best .swiper-button-next:hover svg, .reward-best .swiper-button-prev:hover svg {
  fill: #601dc0;
}

.reward-best .swiper-button-next.swiper-button-disabled, .reward-best .swiper-button-prev.swiper-button-disabled {
  pointer-events: all;
  opacity: 0;
}

.reward-best .swiper-button-next svg, .reward-best .swiper-button-prev svg {
  width: 10px;
  height: 10px;
}

.reward-best .swiper-button-next {
  right: 17px;
}

.reward-best .swiper-button-prev {
  left: 17px;
}

.reward-best .swiper-button-prev svg {
  transform: rotate(180deg);
}

.reward-best .swiper-pagination.is-disable {
  display: none;
}

.reward-best .reward-box {
  width: 100%;
  padding: 0;
}

.reward-best .reward-box-head {
  padding: 0 8px;
  margin: -30px 0 5px;
}

.reward-best .reward-box-label {
  position: absolute;
  top: 6px;
  left: 2px;
}

.reward-best .reward-box-tools {
  display: none;
}

.reward-best .reward-box-title {
  width: 100%;
  font-size: 14px;
  padding: 0 8px;
  margin: 0 0 10px;
}

.reward-best .reward-box-limit {
  display: none;
}

.reward-best .reward-box-btn {
  width: 100%;
  margin: 0;
}

.reward-slider {
  position: relative;
  padding: 20px 0 10px;
}

.reward-slider-title {
  position: relative;
  color: #181818;
  font-weight: 700;
  z-index: 2;
}

.reward-slider-title a {
  color: inherit;
}

.reward-slider .swiper-container {
  padding: 20px 15px;
  margin: -10px -15px 0;
}

.reward-slider .swiper-slide {
  width: auto;
  height: auto;
}

.reward-slider .swiper-slide:not(:last-child) .reward-box {
  margin: 0 15px 0 0;
}

.reward-slider .swiper-button-next, .reward-slider .swiper-button-prev {
  display: none;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  top: calc(50% - (26px / 2));
  width: 26px;
  height: 26px;
  background: none;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
  transition: all .3s ease-in-out;
  margin: 0;
}

.reward-slider .swiper-button-next:hover svg, .reward-slider .swiper-button-prev:hover svg {
  fill: #601dc0;
}

.reward-slider .swiper-button-next.swiper-button-disabled, .reward-slider .swiper-button-prev.swiper-button-disabled {
  pointer-events: all;
  opacity: 0;
}

.reward-slider .swiper-button-next svg, .reward-slider .swiper-button-prev svg {
  width: 10px;
  height: 10px;
}

.reward-slider .swiper-button-next {
  right: 17px;
}

.reward-slider .swiper-button-prev {
  left: 17px;
}

.reward-slider .swiper-button-prev svg {
  transform: rotate(180deg);
}

.reward-slider .swiper.swiper-not-init .swiper-container {
  margin-left: 0;
  margin-right: 0;
}

.reward-slider-more {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  height: 30px;
  color: #000;
  font-size: 14px;
  border: 2px solid #e9e9e9;
  border-radius: 6px;
  padding: 0 0 2px;
  margin: -10px 0 0;
}

.reward-slider-more:hover {
  color: #601dc0;
  border: 2px solid #601dc0;
}

.reward-box {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  width: 246px;
  height: 100%;
  min-height: 175px;
  background: #fff;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  transition: all .3s ease-in-out;
  padding: 15px 15px 0;
}

@media (hover) {
  .reward-box:hover {
    box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.5);
  }
}

.reward-box-img {
  position: relative;
  height: 100px;
}

.reward-box-img:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
  border-radius: 8px 8px 0 0;
}

.reward-box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.reward-box-head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: -5px 0 5px;
}

.reward-box-logo {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 91px;
  height: 34px;
  z-index: 1;
}

.reward-box-logo img {
  max-width: 100%;
  max-height: 30px;
}

.reward-box-label {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 16px;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  border-radius: 4px;
  padding: 0 5px;
  margin: 0 0 0 5px;
  z-index: 1;
}

.reward-box-label.reward-primary-bg {
  width: 64px;
}

.reward-box-tools {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-height: 16px;
  margin: 0 0 10px;
  z-index: 1;
}

.reward-box-tag {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 10px;
  font-weight: 700;
}

.reward-box-title {
  -ms-flex-positive: 2;
      flex-grow: 2;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}

.reward-box-title:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.reward-box-limit {
  position: relative;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  margin: 10px 0;
  z-index: 1;
}

.reward-box-btn {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background: #601dc0;
  border-radius: 0 0 8px 8px;
  transition: all .3s ease-in-out;
  margin: 0 -15px;
  z-index: 3;
}

@media (hover) {
  .reward-box-btn:hover {
    background: #451788;
  }
}

.reward-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  padding: 20px 0 0;
}

.reward-list .reward-box, .reward-list .reward-gap {
  width: 100%;
}

.reward-list .reward-box {
  -ms-flex-order: -1;
      order: -1;
  height: auto;
  margin: 0 0 15px;
}

.reward-primary {
  border: 2px solid #601dc0;
}

@media (hover) {
  .reward-primary:hover {
    border: 2px solid #451788;
    box-shadow: 0 0 30px -10px #370a78;
  }
}

.reward-primary-bg {
  background: #601dc0;
}

.reward-primary .reward-box-img img {
  border-radius: 4px 4px 0 0;
}

.reward-primary .reward-box-btn {
  border-radius: 0 0 4px 4px;
}

@media (hover) {
  .reward-danger:hover {
    box-shadow: 0 0 30px -10px #d0021b;
  }
}

.reward-danger-bg {
  background: #d0021b;
}

.reward-disable:hover .reward-box-btn {
  background: #e9e9e9;
}

.reward-disable .reward-box-btn {
  background: #e9e9e9;
}

.reward-seo-text {
  display: none;
  margin: 0 0 20px;
}

.reward-seo-text:last-child {
  margin: 0;
}

.reward-tab + .reward-seo-text {
  margin: 40px 0 0;
}

.workarea-sidebar .reward-filter {
  display: none;
}

@media only screen and (min-width: 992px) {
  .reward-back {
    display: none;
  }
  .reward-filter {
    padding: 12px 6px;
    margin: 0 0 20px;
  }
  .reward-filter-title {
    font-size: 14px;
  }
  .reward-filter-title svg {
    margin: 0 5px 0 0;
  }
  .reward-filter .select-field {
    font-size: 12px;
  }
  .reward-filter .select-field-input {
    font-size: 12px;
  }
  .reward-filter .select-menu a {
    font-size: 12px;
  }
  .reward-tabList {
    padding: 0;
    margin: 0;
  }
  .reward-tabList:after {
    display: none;
  }
  .reward-tabItem {
    padding: 15px 0;
  }
  .reward-best {
    padding: 20px 15px;
  }
  .reward-best:before, .reward-best:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    background: #f0f0f0;
    z-index: -1;
  }
  .reward-best:before {
    right: 100%;
    left: -200%;
  }
  .reward-best:after {
    right: -200%;
    left: 100%;
  }
  .reward-best-title {
    font-size: 24px;
  }
  .reward-best .swiper-container {
    padding: 30px 30px;
    margin: -10px -30px 0;
  }
  .reward-best .swiper-container.is-disable {
    margin: -10px -30px -20px;
  }
  .reward-best .swiper-slide {
    width: calc((100% / 3) - 10.66px);
    transition: all .3s ease-in-out;
    margin: 0 16px 0 0;
  }
  .reward-best .swiper-slide:nth-child(3) {
    margin: 0 50px 0 0;
  }
  .reward-best .swiper-slide-prev {
    margin: 0 50px 0 -34px !important;
  }
  .reward-best .swiper-slide-next + .swiper-slide {
    margin: 0 50px 0 0 !important;
  }
  .reward-best .swiper-button-prev, .reward-best .swiper-button-next {
    display: -ms-flexbox;
    display: flex;
  }
  .reward-best .reward-box-head {
    padding: 0 15px;
    margin: -30px 0 5px;
  }
  .reward-best .reward-box-label {
    position: relative;
    top: auto;
    left: auto;
  }
  .reward-best .reward-box-tools {
    display: -ms-flexbox;
    display: flex;
    padding: 0 15px;
  }
  .reward-best .reward-box-title {
    width: 100%;
    padding: 0 15px;
    margin: 0;
  }
  .reward-best .reward-box-limit {
    display: block;
    padding: 0 15px;
  }
  .reward-best .reward-box-btn {
    width: 100%;
    margin: 0;
  }
  .reward-slider {
    padding: 20px 0;
  }
  .reward-slider-title {
    font-size: 24px;
  }
  .reward-slider .swiper-container {
    padding: 30px 30px;
    margin: -10px -30px 0 !important;
  }
  .reward-slider .swiper-slide {
    width: calc((100% / 3) - 10.66px);
    margin: 0 16px 0 0;
  }
  .reward-slider .swiper-slide:nth-child(3) {
    margin: 0 50px 0 0;
  }
  .reward-slider .swiper-slide-prev {
    margin: 0 50px 0 -34px !important;
  }
  .reward-slider .swiper-slide-next + .swiper-slide {
    margin: 0 50px 0 0 !important;
  }
  .reward-slider .swiper-button-prev, .reward-slider .swiper-button-next {
    display: -ms-flexbox;
    display: flex;
  }
  .reward-slider-more {
    font-weight: 700;
  }
  .reward-box {
    width: 100%;
  }
  .reward-box-img {
    height: 130px;
  }
  .reward-box-title {
    font-size: 14px;
    line-height: 1.42;
  }
  .reward-box-limit {
    font-size: 12px;
  }
  .reward-list .reward-box, .reward-list .reward-gap {
    width: calc((100% / 3) - 10.66px);
  }
  .reward-list .reward-box {
    margin: 0 0 16px;
  }
  .reward-seo-text {
    display: block;
  }
  .workarea-sidebar .reward-filter {
    display: block;
  }
  .workarea-content .reward-filter {
    display: none;
  }
}

@media only screen and (max-width: 374px) {
  .reward-best .reward-box-title {
    font-size: 12px;
  }
  .reward-best .swiper-slide {
    width: calc((100% / 2) - 5px);
    margin: 0 10px 0 0;
  }
  .reward-slider .swiper-slide:not(:last-child) .reward-box {
    margin: 0 10px 0 0;
  }
  .reward-box-title {
    font-size: 12px;
  }
  .reward-box-limit {
    font-size: 10px;
  }
  .reward-list .reward-box {
    margin: 0 0 10px;
  }
}

/* -- End Reward -- */
